::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background-color: transparent; /* Background color of the scrollbar */
}

/* Styles for the draggable scrolling element */
::-webkit-scrollbar-thumb {
    background-color: #335C6E;
    height: 5px; 
    border-radius: 2.5px
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Background color of the track */
}

/* Styles for the top-most layer of the progress bar */
::-webkit-scrollbar-track-piece {
    background-color: transparent; /* Background color of the track piece */
}

::-webkit-scrollbar-button {
    display: none; 
}

/* Styles for the corner where two scrollbars might meet */
::-webkit-scrollbar-corner {
    background-color: transparent; /* Background color of the scrollbar corner */
}


::-webkit-resizer {
    display: none; /* Hide the resizer */
}

@media (max-width: 767px) {
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-track-piece,
    ::-webkit-scrollbar-corner,
    ::-webkit-resizer {
        display: none;
    }
}



